body {
    background-color: black;
    color:  rgba(153, 255, 0, 0.87);
}

h1 {
    color: rgba(153, 255, 0, 0.87);

}

button {
    background-color: blue;
    color: white;

}

a {
    color: DodgerBlue;

}

strong {
    color: whitesmoke;
}